<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Vehicle:</strong>
  <%= @rent.vehicle_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @rent.user.full_name %>
</p>

<p>
  <strong>Begins at:</strong>
  <%= @rent.begins_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @rent.ends_at %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @rent.pay %>
</p>

<p>
  <strong>kilometres:</strong>
  <%= @rent.kilometres if can? :edit, Rent %>
</p>

<p>
  <strong>return:</strong>
  <%= @rent.return if can? :edit, Rent %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
