<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :patent %>
    <%= form.text_field :patent %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.collection_select(:brand_id, Brand.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :fuel %>
    <select name="vehicle[fuel]">  
      <option value="Nafta">Nafta</option>
      <option value="Diesel">Diesel</option>
    </select>
  </div>



  <div class="field">
    <%= form.label :kilometres %>
    <%= form.number_field :kilometres %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
