<p id="notice"><%= notice %></p>
<br>

<ul class="list-group">
  <li class="list-group-item">Category: <%= @vehicle.category.name %></li>
  <li class="list-group-item">Patent: <%= @vehicle.patent %></li>
  <li class="list-group-item">Brand: <%= @vehicle.brand.name %></li>
  <li class="list-group-item">Model: <%= @vehicle.model %></li>
  <li class="list-group-item">Fuel type: <%= @vehicle.fuel %></li>
  <li class="list-group-item">Kilometres: <%= @vehicle.kilometres %></li>
  <li class="list-group-item">Per day value<%= @vehicle.value %></li>
</ul>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
