<p id="notice"><%= notice %></p>

<h1>Categories</h1>







<form method="GET" action="/categories">
  <div class="input-group">
    <input type="text" name="filter" class="form-control" placeholder="Nombre de la categoria" aria-describedby="input-group-button-right">
    <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Buscar</button>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @categories %>

<br>

<%= link_to 'New Category', new_category_path %>
